# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints

# Environment secrets
.env

# Streamlit cache
.streamlit/

.DS_Store

